<!--Start login register area-->
<section class="login-register-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form">
                    <div class="sec-title">
                        <h1>Восстановление пароля</h1>
                        <span class="border"></span>
                    </div>
                    <div class="row">
                         {{#if error}}
                            <div class="alert alert-danger" role="alert">
                                <p>{{error}}</p>
                            </div>
                        {{else}}
                        <form action="/auth/reset" method="POST">
                            <div class="col-md-12">
                                <div class="input-field">
                                    <input type="email" name="email" placeholder="Введите Email *" required>
                                    <div class="icon-holder">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                </div>    
                            </div>
                           
                            <input type="hidden" name="_csrf" value="{{csrf}}">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <button class="thm-btn bgclr-1" type="submit">Сбросить</button>
                                    </div>
                                </div>   
                            </div> 
                        </form>
                        {{/if}}    
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>      
<!--End login register area-->