  <!--Start footer area-->  
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!--Start single footer widget-->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-footer-widget pd-bottom50">
                        <div class="title">
                            <h3>ОБО МНЕ</h3>
                            <span class="border"></span>
                        </div>
                        <div class="our-info">
                            <p>Endocrinology.Kg</p>
                            <a href="/about">Узнать подробнее<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-footer-widget pd-bottom50">
                        <div class="title">
                            <h3>ИНФОРМАЦИЯ</h3>
                            <span class="border"></span>
                        </div>
                        {{!-- <ul class="usefull-links fl-lft">
                            <li><a href="#">Информация для врачей</a></li>
                            <li><a href="#">Магазин</a></li>
                            <li><a href="#">Статьи</a></li>
                        </ul> --}}
                        <ul class="usefull-links">
                            <li><a href="#">Информация для врачей</a></li>
                            <li><a href="#">Информация для пациентов</a></li>
                        </ul>
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                    <div class="single-footer-widget mar-bottom">
                        <div class="title">
                            <h3>КОНТАКТЫ</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="footer-contact-info">
                            <li>
                                <div class="icon-holder">
                                    <span class="flaticon-interface"></span>
                                </div>
                                <div class="text-holder">
                                    <h5>dr@endocrinology.kg</h5>
                                </div>
                            </li>
                            <li>
                                <div class="icon-holder">
                                    <span class="flaticon-technology-1"></span>
                                </div>
                                <div class="text-holder">
                                    <h5>+996-502-30-11-11</h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        
            </div>
        </div>
    </footer>   
    <!--End footer area-->

    <!--Start footer bottom area-->
    <section class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright-text">
                        <p>Copyright © 2020 Все права защищены.</a></p> 
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="footer-social-links">
                        <li><a href="https://www.facebook.com/endocrinology.kg/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/endocrinology.kg/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End footer bottom area-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0//js/materialize.min.js"></script>
<!-- main jQuery -->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/moment.js"></script>

{{!-- <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script> --}}
<!-- Wow Script -->
<script src="/js/wow.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="/js/jquery.bxslider.min.js"></script>
<!-- count to -->
<script src="/js/jquery.countTo.js"></script>
<!-- owl carousel -->
<script src="/js/owl.carousel.min.js"></script>
<!-- validate -->
<script src="/js/validation.js"></script>
<!-- mixit up -->
<script src="/js/jquery.mixitup.min.js"></script>
<!-- easing -->
<script src="/js/jquery.easing.min.js"></script>
<!-- gmap helper -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<!--gmap script-->
<script src="/js/gmaps.js"></script>
<script src="/js/map-helper.js"></script>
<!-- fancy box -->
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.appear.js"></script>
<!-- isotope script-->
<script src="/js/isotope.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script> 
<script src="/js/jquery.bootstrap-touchspin.js"></script>
<!-- jQuery timepicker js -->
<script src="/assets/timepicker/timePicker.js"></script>
<!-- Bootstrap select picker js -->
<script src="/assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script>                               
<!-- Bootstrap bootstrap touchspin js -->
<!-- jQuery ui js -->
<script src="/assets/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- Language Switche  -->
<script src="/assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
<!-- Html 5 light box script-->
<script src="/assets/html5lightbox/html5lightbox.js"></script>


<!-- revolution slider js -->
<script src="/assets/revolution//js/jquery.themepunch.tools.min.js"></script>
<script src="/assets/revolution//js/jquery.themepunch.revolution.min.js"></script>
<script src="/assets/revolution//js/extensions/revolution.extension.actions.min.js"></script>
<script src="/assets/revolution//js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/assets/revolution//js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/assets/revolution//js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/assets/revolution//js/extensions/revolution.extension.migration.min.js"></script>
<script src="/assets/revolution//js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/assets/revolution//js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/assets/revolution//js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/assets/revolution//js/extensions/revolution.extension.video.min.js"></script>
<script src="/js/datepicker-ru.js"></script>


<script src="/js/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdn.tiny.cloud/1/kpch0o9bnlaifiig996144rw0ngws4o7urxv5fnxjhcg5u2x/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>    
<script>
    tinymce.init({
      selector: '#description',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak template',
      toolbar_mode: 'floating',
    });
  </script> 
<!-- thm custom script -->
{{!-- <script src="https://cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script> --}}
<script src="/js/custom.js"></script>
