<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/about/2.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>ОБО МНЕ</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Обо мне</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start welcome area-->
<section class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-holder">
                    <img src="images/about/about.png" alt="врач-эндокринолог">    
                </div>
                <div class="inner-content">
                    <p>Ваше здоровье и спокойствие- мой главный приоритет</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-holder">
                    <div class="title">
                        <br>
                        <br>
                        <br>
                        <h2 class="text-center">Обо мне</h2>
                        <hr>
                        <h4>Добро пожаловать на наш сайт, дорогой читатель.</h4>
                        <br>
                        <p>Меня зовут Бегимай. Я врач-эндокринолог. На данный момент работаю над несколькими крупными проектами в сфере медицины. 
                        В течении длительного времени я проходила стажировку в 2-х больницах Турции и после возвращения на родину поняла, что эндокринологическая служба в нашей стране сильно отстает от остального мира. Я долго думала над тем, как помочь нашим гражданам с эндокринными заболеваниями и так родилась идея создания проекта <b>«Endocrinology.kg»</b></p>    
                                            <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div class="text-holder">
                    <br>
                        <ul>
                            <li>
                                <div class="single-item">
                                    <div class="iocn-box">
                                        <span class="flaticon-shapes"></span>
                                    </div>
                                    <div class="text-box">
                                        <h3>Цели нашего проекта:</h3>
                                        <p>&#9989;Сделать эндокринологическую службу простым и доступным для нашего населения на базе данной платформы</p>
                                        <p>&#9989;Рассказывать пациентам об их болезни на простом языке, делиться с ними последними новостями и исследованиями в мире эндокринологии по лечению их заболеваний.</p>
                                        <p>&#9989;Создать площадку для обмена знаниями и опытом для коллег, создать базу данных с последними руководствами и протоколами по лечению эндокринных патологий, делиться книгами, презентациями, вебинарами, видео-материалами с коллегами на данном сайте.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-item">
                                    <div class="iocn-box">
                                        <img src="/images/about/open-book.png" alt="">
                                    </div>
                                    <div class="text-box">
                                        <h3>Образование:</h3>
                                        <div class="text">
                                            <p><i class="fa fa-hand-o-right"></i>Кыргызская государственная медицинская академия, факультет «Лечебное дело»,2012-2018 гг.</p>    
                                            <p><i class="fa fa-hand-o-right"></i>Клиническая ординатура по эндокринологии в Кыргызской государственной медицинской академии на кафедре «Пропедевтика внутренних болезней с курсом эндокринологии»,2018-2021 гг.</p>    
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-item">
                                    <div class="iocn-box">
                                        <img src="/images/about/award.png" alt="">
                                    </div>
                                    <div class="text-box">
                                        <h3>Стажировки:</h3>
                                        <div class="text">
                                            <p>&#10004;Стажировка в университетской научно-исследовательской больнице города Аксарай, Турция (Aksaray Egitim ve Arastirma Hastanesi)</p>    
                                            <p>&#10004;Стажировка в детской эндокринологической клинике “Endomer” в городе Анкара, Турция</p>    
                                            <p>&#10004;Стажировка и обучение помповой инсулинотерапии в филиале компании Medtronic в городе Алмата, Казахстан</p>    
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="button">
                            <a class="thm-btn bgclr-1" href="/services">Наши услуги</a>
                        </div>    
                    </div>
                </div>
        </div>
    </div>    
</section>
<!--End welcome area-->  