<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>БИОПСИЯ УЗЛОВ ЩИТОВИДНОЙ ЖЕЛЕЗЫ</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="/services">Услуги</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Биопсия узлов щитовидной железы</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start faq content area-->
<section class="faq-content-area main-project-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <div class="single-blog-item">
                        <div class="img-holder">
                            <img src="images/department/biopsy.jpg" alt="Awesome Image" width="50%">
                        </div>
                        <div class="text-holder">
                            <h3 class="blog-title text-center">Биопсия узлов щитовидной железы </h3>
                            <div class="text">
                                <p class="top">&nbsp;<b>Узлы щитовидной железы </b> — одна из частых проблем в эндокринологии — более 40% взрослых людей имеют узлы в щитовидной железе. При осмотре и пальпации врач может обнаружить только самые крупные, а мелкие узлы можно диагностировать с помощью УЗИ.</p>
                                <p>&nbsp;Тонкоигольная аспирационная биопсия щитовидной железы является одним из наиболее важных методов диагностики узлового зоба. Она позволяет решить самый главный вопрос, возникающий у врача в отношении пациента с узловыми образованиями щитовидной железы, диагностированными методом УЗИ: наблюдать или оперировать? В настоящее время выявление у пациента узла размером 1 см и более является показанием к проведению биопсии щитовидной железы.</p>
                                <p>&nbsp;В 2017 году американским колледжем радиологов была разработана новая стандартизированная версия шкалы оценки изменений щитовидной железы (шкала ACR TIRADS), рекомендации для выполнения тонкоугольной аспирационной биопсии (ТАБ) и повторных исследований.</p>
                                <p>&nbsp;Шкала складывается из суммы баллов при оценке 5 разных ультразвуковых характеристик. Соответственно, чем выше сумма баллов, тем выше риск малигнизации. </p>
                            </div>
                            <h3 class="blog-title">Наша тактика:</h3>
                            <ul>
                                <li>&#42; TIRADS 1 (0 баллов) – ТАБ не показана;</li>
                                <li>&#42; TIRADS 2 (2 балла) – ТАБ не показана;</li>
                                <li>&#42; Биопсия рекомендована пациентам из групп TIRADS 3-5 в зависимости от размера узла. Если имеется множество узлов, то для оценки выбираются два узла с наиболее высокими признаками злокачественности по ACR TIRADS.</li>
                                <li>&#42; TIRADS 3  (3 балла) при размере узла меньше или равному 1,5 см рекомендовано повторное исследование, при размере узла больше или равному 2,5 см рекомендована ТАБ. Повторные исследования выполняются через 1, 3, 5 лет.</li>
                                <li>&#42; TIRADS 4 (4-6 балла) при размере узла меньше или равному 1,0 см рекомендовано повторное исследование, при размере узла больше или равному 1,5 см рекомендована ТАБ. Повторные исследования выполняются через 1, 3, 5 лет.</li>
                                <li>&#42; TIRADS 5 (7 и более баллов) при размере узла меньше или равному 0,5 см рекомендовано повторное исследование, при размере узла больше или равному 1,0 см рекомендована ТАБ. Повторные исследования выполняются через 1, 3, 5 лет.</li>
                                </ul>
                            <p><b>Процедура абсолютно безболезненная, не требует никакой подготовки и занимает всего 10-20 минут по времени.</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="row">
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item robustness workouts">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item food workouts yoga">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item yoga food">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet3.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
        </div> --}}
    </div>
</section> 
<!--End faq content area-->