<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>СИСТЕМА НЕПРЕРЫВНОГО МОНИТОРИНГА ГЛЮКОЗЫ КРОВИ</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="/services">Услуги</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Система непрерывного мониторинга глюкозы крови</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start faq content area-->
<section class="faq-content-area main-project-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <div class="single-blog-item">
                        <div class="img-holder" width="40">
                            <img src="images/department/monitoring.jpg" alt="Awesome Image" >
                        </div>
                        <div class="text-holder">
                            <h3 class="blog-title text-center"> Система непрерывного мониторинга глюкозы </h3>
                            <div class="text">
                                <p class="top">&nbsp;Обычные измерения уровня глюкозы пациентом не всегда позволяют правильно оценить колебания сахара в крови в течение суток и, как следствие, затрудняют подбор адекватного лечения. В таких случаях приходит на помощь система непрерывного мониторинга глюкозы.</p>
                                <p>&nbsp;Непрерывный мониторинг глюкозы (НМГ) - это технология для эффективного контроля над диабетом, которая позволяет отслеживать изменения уровня глюкозы в круглосуточном режиме.</p>
                                <p>&nbsp;Шкала складывается из суммы баллов при оценке 5 разных ультразвуковых характеристик. Соответственно, чем выше сумма баллов, тем выше риск малигнизации. </p>
                            </div>
                            <h4 class="blog-title">Преимущества системы непрерывного мониторинга глюкозы:</h4>
                            <ul>
                                <li>&#42; Круглосуточная осведомленность об уровне глюкозы;</li>
                                <li>&#42; Выявление гипо- и гипергликемий;</li>
                                <li>&#42; Сигналы тревоги о повышении и понижении уровня глюкозы;</li>
                                <li>&#42; Меньше стресса, связанного с постоянными проколами пальцев;</li>
                                <li>&#42; Возможность оперативного реагирования;</li>
                                <li>&#42; Точная коррекция инсулинотерапии.</li>
                            </ul>
                            <h4 class="blog-title">Непрерывный мониторинг глюкозы (НМГ) позволяет увидеть полную картину вашего диабета и при этом:</h4>
                            <ul>
                                <li>&#42; меньше беспокоиться о диабете и больше времени посвящать работе, учебе или хобби;</li>
                                <li>&#42; спокойно спать ночью и вставать только по сигналу тревоги;</li>
                                <li>&#42; сократить количество гипогликемий и уменьшить страх перед ними;</li>
                                <li>&#42; лучше понимать ситуацию и достичь хорошей компенсации.</li>
                            </ul>
                            <div class="text">
                                <p>&nbsp; Системы такого рода помогают получить важную дополнительную информацию за счет постоянного наблюдения. Таким способом легче распознаются тенденции колебаний уровня сахара в крови, которые упускаются при точечных измерениях. Более того, на основе индивидуальных данных, полученных с помощью системы непрерывного мониторинга глюкозы, пациенту может быть предложено оптимальное расписание, в соответствии с которым он далее самостоятельно сможет проводить измерение сахара. Исследованиями доказано, что непрерывный мониторинг глюкозы приводит к улучшенным показателям гемоглобина A1c, HbA1c, не повышая при этом риск гипогликемии.</p>
                            </div>
                            <h3><b>&nbsp; Мы поможем вам подобрать подходящую систему круглосуточного мониторинга глюкозы крови и научим пользоваться им!</b></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item food workouts yoga">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/monit2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item yoga food">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/monit3.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item robustness workouts">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/monit1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    {{!-- <a href="project-single.html"></a> --}}
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
        </div>
    </div>
</section> 
<!--End faq content area-->