<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>ШКОЛА ДИАБЕТА</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="/services">Услуги</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Школа диабета</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start faq content area-->
<section class="faq-content-area main-project-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <div class="single-blog-item">
                        <div class="img-holder">
                            <img src="images/department/diabet.jpg" alt="Awesome Image" width="50%">
                        </div>
                        <div class="text-holder">
                            <h3 class="blog-title text-center">Сахарный диабет</h3>
                            <div class="text">
                                <p class="top">Сахарный диабет – это хроническое эндокринное заболевание. По последним данным международной федерации диабета, к 2035 г число заболевших диабетом составит 592 млн человек. То есть каждый 10-й человек будет болеть СД. В наше время каждые 6 секунд от осложнений диабета в мире умирает 1 человек.</p>
                                <p>&nbsp;Как правило, человеку, живущему с сахарным диабетом, достаточно сложно и проблематично справляться с заболеванием без специальных знаний и навыков. Только обученный пациент может стать равноправным партнером лечащего врача в процессе лечения и профилактики осложнений, 
                                ведь у пациента и врача одни цели – компенсация диабета, предупреждение развития и прогрессирования всех видов осложнений, достижение хорошего качества повседневной жизни и увеличение ее продолжительности.</p>
                                <p>&nbsp;Самый важный аспект в лечении - понять диабет и научиться его контролировать и именно для этого созданы школы диабета во всем мире. Школы диабета открыты не только для всех пациентов с сахарным диабетом, но также и для их близких родственников. Осведомленность семьи по вопросам сахарного диабета крайне важна для обеспечения эмоциональной поддержки члена семьи, болеющего сахарным диабетом, и грамотного участия в организации его питания, ухода и мер по профилактике осложнений.</p>
                                <p>&nbsp;Форма обучения, применяемая в Школах диабета, до сих пор имеет определенные преимущества перед другими современными возможностями получения знаний. Информация, которая доводится до слушателей в Школах диабета, носит научно-обоснованный характер и соответствует всем современным руководствам по диагностике и лечению сахарного диабета. Очень важно, что в Школе Вы приобретете навыки самоконтроля и управления диабетом под контролем врача.</p>
                                <p>&nbsp;Я создала свою школу диабета для тех, кто хочет узнать об этом заболевании больше и кто хочет научиться контролировать диабет. Я собрала всю информацию, которая может вам понадобиться, и сгруппировала ее по урокам для вашего удобства. Я очень надеюсь, что данный проект будет полезна как больным диабетом, так и их родным и близким.</p>
                            </div>
                        </div>
                        <button class="btn btn-primary"><a href="/#form"> Пройти школу диабета</a></button>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item robustness workouts">
                <div class="single-project-item">
                    {{!-- <div class="img-holder"> --}}
                        <img src="images/department/diabetNew13.png" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    {{!-- </div>    --}}
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item food workouts yoga">
                <div class="single-project-item">
                    {{!-- <div class="img-holder"> --}}
                        <img src="images/department/diabetNew22.png" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    {{!-- </div>    --}}
                </div> 
            </div>
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item food workouts yoga">
                <div class="single-project-item">
                    {{!-- <div class="img-holder"> --}}
                        <img src="images/department/diabetNew44.png" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    {{!-- </div>    --}}
                </div> 
            </div>
        </div>
        <div class="row">
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item robustness workouts">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item food workouts yoga">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item yoga food">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet3.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
        </div>
    </div>
</section> 
<!--End faq content area-->