<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>УЗИ ЩИТОВИДНОЙ ЖЕЛЕЗЫ</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="/services">Услуги</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">УЗИ щитовидной железы</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start faq content area-->
<section class="faq-content-area main-project-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <div class="single-blog-item">
                        <div class="img-holder">
                            <img src="images/department/thyroidultrasound.jpg" alt="Awesome Image" width="50%">
                        </div>
                        <div class="text-holder">
                            <h3 class="blog-title text-center">УЗИ щитовидной железы</h3>
                            <div class="text">
                                <p class="top">&nbsp;Состояние щитовидной железы очень важно для здоровья и хорошего самочувствия человека. Именно этот орган продуцирует гормоны, влияющий на работу всего организма. Недостаток или избыток этих гормонов вызывают сбои в работе всех систем. Вот почему так важно своевременно проходить ультразвуковую диагностику – она может сигнализировать врачу об отклонениях даже в тех случаях, когда явных проявлений патологии пока не наблюдается.</p>
                                <p>&nbsp;Достоинства ультразвукового исследования щитовидной железы заключаются в том, что это самый доступный, безопасный и информативный метод диагностики, выполняемый при необходимости неоднократно пациентами любого возраста (в том числе детьми с первых дней жизни и беременными женщинами).</p>
                                <p>&nbsp;УЗИ щитовидной железы является одним из самых безопасных, информативных и достоверных методов, применяемых для оценки развития патологических процессов. Также для этой процедуры не требуется подготовка, отсутствует рентгеновское и любое другое ионизирующее излучение.</p>
                                <p>&nbsp;При исследовании щитовидной железы врач оценивает ее размеры (нормальные, уменьшение или увеличение железы; особое внимание следует уделять переднезаднему размеру), контуры (ровные или неровные, четкие или нечеткие), положение органа (типичное, высокое, низкое, загрудинное), эхогенность (высокая, низкая, нормальная).</p>
                            </div>
                            <h3 class="blog-title">ПОКАЗАНИЯ К ПРОВЕДЕНИЮ УЗИ ЩИТОВИДНОЙ ЖЕЛЕЗЫ</h3>
                            <ul>
                                <li>&#42; Подозрение на неправильное (атипичное) расположение щитовидной железы, ее недоразвитие (гипоплазия) или полное отсутствие (аплазия);</li>
                                <li>&#42; Видимое увеличение всей железы или выбухание ее в какой-либо части.</li>
                                <li>&#42; Признаки повышенной функции органа (гипертиреоз – его симптомы: раздражительность, похудение, тремор, выпячивание глазных яблок и др.) или пониженной (гипотиреоз – его симптомы: необъяснимые заторможенность, сонливость, отечность, нарастание веса и др.).</li>
                                <li>&#42; Подозрение на инфекционное или аутоиммунное воспаление щитовидной железы.</li>
                                <li>&#42; Наличие любого объемного образования на передней поверхности шеи.</li>
                                <li>&#42; Подозрение на объемное образование (киста, опухоль) щитовидной железы (первичное обследование, последующий контроль).</li>
                                <li>&#42; При необходимости корректировки дозы лекарственных средств во время лечения заболеваний щитовидной железы, а также контроль за эффективностью терапии.</li>
                                <li>&#42; Подозрение на рецидив (повторное возникновение) таких заболеваний, как доброкачественные и злокачественные образования щитовидной железы, киста и др.</li>
                                <li>&#42; Необходимость оценить кровоток в области щитовидной железы.</li>
                            </ul>
                            <p>&nbsp; Средняя продолжительность процедуры составляет 10-15 минут и не требует специальной предварительной подготовки.</p>
                            <p>&nbsp; Результаты ультразвукового сканирования и клинико-лабораторные данные сопоставляет, анализирует врач-эндокринолог, который на их основании и определяет тактику лечения. Только этот специалист может учесть возможное сочетание нескольких патологических процессов в данной железе внутренней секреции, например, узловой зоб и рак или узловой зоб и аденому.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="row">
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item robustness workouts">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item food workouts yoga">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item yoga food">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet3.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
        </div> --}}
    </div>
</section> 
<!--End faq content area-->